.gallery {
  margin:5% $m-gap $s-gap 25%;
  column-count: 2;
  -webkit-column-count:2;
  -moz-column-count:2;
  -webkit-column-gap: 10px;
  -moz-column-gap:10px;
  column-gap: 10px;

}

.icon{
  padding:5px;

}
.icon a{
  display: inline-block;
}

.display-icon{
  position:fixed;
  top:7%;
  right:5%;
  width:10%;

}


.photoshoot{
  overflow: auto;
  white-space: nowrap;
  height:67vh;
  margin:12% 2% 2% 24%;
}

.photoshoot img{
  height:100%;
  cursor:pointer;
}


.table {
  margin:8% 2% 0 22%;
  width:70%;
  column-count: 2;
  -webkit-column-count:2;
  -moz-column-count:2;
  -webkit-column-gap: 10px;
  -moz-column-gap:10px;
  column-gap: 10px;
}

.table img {
  width:100%;
  cursor:pointer;
}

.imgTile img {
  width:100%;
  margin-bottom: 10px;
}

.imgTile{
  position:relative;
  cursor:pointer;
}

p.description{
  left: 0;
  position:absolute;
  text-align:center;
  top: 35%;
  width: 100%;
  opacity:0;
  font-size:1.1em;
  color:#cecece;
}

.imgTile:hover .description{
  opacity:1;
}

.imgTile:hover img{
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
}

.lightbox {
  background-color: rgba(0,0,0,0.9);
  position:fixed;
  z-index:2;

  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
  text-align: center;

}

.active{
  display:block;
}
.lightboxPic{
  margin-top:3%;
  height:85vh;
}
