.project{
  margin:5% auto 30%;
  width:60%;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
}
.project__description{
  width:60%;
  padding-right: 3%;
  font-size:2.1rem;
  color:dimgrey;
  // background-color: grey;
  h1{
    font-size: 3rem;
    margin-bottom:2rem;
  }
  h4{
    margin:2rem 0;
    color:dimgrey;
  }

  span{
    font-family: 'Zilla Slab Highlight';
    word-spacing: 1rem;
    font-weight: bold;
    font-size: 2.1rem;
    color:$grey;
  }
}

.project__img{
  width: 38%;
  border:$thin;
}
