@media only screen and (max-width: 1450px) {
  .recent-project, .work-overview{
    width:85%;
    }


}

@media only screen and (max-width: 1050px) {
.recent-project{
  justify-content: center;
}
.recent-project__description{
  width:75%;
  padding:0;
  text-align: center;
  border:none;
}
.work-overview__gallery{
  @include prefix((
     column-count: 2
   ), webkit moz);
   @include prefix((
      column-gap: 3rem
    ), webkit moz);
}

.button{
  margin:3% auto;
  float:none;
}
.recent-project__img{
  width:70%;
  padding:3rem 0 0;
}

.section-title{
  font-size: 1.6rem;
}

.tile__text{
  display: none;
}
.project{
  width:90%;
}
.project__description{

  width:90%;
  padding:3%;
  font-size:2.3rem;
  line-height: 130%;
  text-align: center;

  h1{
    font-size: 2.6rem;

  }
  span{
    word-spacing: 0.8rem;
    font-size: 1.9rem;
  }
}

.project__img{
  width:70%;
  display: block;
  margin: 4% auto;
}



}

@media only screen and (max-width: 800px){


.nav__intro{
  font-size: 3.7rem;
  height:90rem;
  padding:8% 6% 6% 7%;

}
.work-overview{
  width:65%;
}
.title--recent{
  margin-top:38rem;
}
.work-overview__gallery{
  @include prefix((
     column-count: 1
   ), webkit moz);
   @include prefix((
      column-gap: 3rem
    ), webkit moz);
}

.highlight{
  box-shadow: none;
  padding: 15% 12%;
}
.work-overview__text{
  font-size:2rem;

}

.menu__items{
  font-size: 4rem;
}
.contact-form {
    width:90%;
    margin:10% auto 80%;


}
@keyframes slide-down {
  from {
    margin-top: 0;
  }

  to {
    margin-top: 35%;
  }
}

.about-section{
  width:80%;
  font-size: 1.9rem;
  margin: 15% auto 110%;

}

}

@media only screen and (max-width: 600px){
.recent-project__description,  .recent-project__img {
  width:98%;
}
.work-overview{
  width:80%;
}

.highlight{
  padding: 15% 12%;
}
.nav__intro{
  font-size: 2.5rem;
  height:72rem;
  padding:14% 0 0 12%;
  font-weight: 400;
}

.title--recent{
  margin-top:29rem;
  width:50%;
  font-size: 1.4rem;
}

.menu-icon {
  top:1.2rem;
  right:1.6rem;

}
.project{
  width:90%;
  text-align: center;
  margin:10% auto 100%;
}
.project__description{
  font-size:2rem;
  padding: 0 0 2.5rem;
  text-align: center;
  h1{
    font-size: 2rem;
  }
}

.project__img{
  width:85%;
}
.nav--min{
  height:8rem;
}
.skills{
  width:90%;
}
.skills__icon{
  font-size: 1.2rem;
  svg{
    padding: 2rem 0 3.5rem 0;
  }
  p{
    font-size: 1.5rem;
  }
}

footer{
  height:23rem;
}

}
