@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import './base/variables';
@import './base/base';
@import './components/navigation';
@import './components/video-gallery';
@import './components/photo-gallery';
@import './components/contact';




@media only screen and (max-width: 900px) {
  .film-list{
    margin-left:25%;
  }
  iframe{
     height:301px;
     width:529px;
  }
}
@media only screen and (max-width: 720px) {
  iframe {
    width:426px;
    height:240px;
  }

  .film-list{
    margin-left: 26%;

  }
}

  @media only screen and (max-width: 650px) {
    .nav {
      width:100%;
      top:0;
      height:60px;
      background-color:white;
      z-index:1;
      margin:0;
      opacity:0.9;
      padding-top:2%;


    }
    .nav li {
      display:inline;
      padding-right: 7px;

    }
    .nav li a {
        font-size: 1.7vw;

    }
    svg {
      margin:0;
      padding-right:8px;

    }
    .nav li svg {
      font-size: 2.3vw;
    }


    #logo a{
      font-size: 4.5vw;
    }

    #logo {

      padding:1vw 2.3vw 2vw 1vw;
      margin-right:25px;

    }

    .gallery {
        margin:15% $m-gap $s-gap 10%;

      }
      iframe {
        width:300px;
        height:190px;
      }

      .film-list{
        margin: 15% auto;
        width:95vw;

      }
      .display-icon{
        display:none;

      }

      .photoshoot img{
        width:90vh;
        height:auto;
        display:block;
        margin:7% auto;
        margin-bottom:5px;

      }

      .photoshoot{
        overflow: visible;
        height:100%;
        width:90%;
        margin: 14% auto;
      }
      .photoshoot img{
        width:75vw;
        height:auto;
        display:block;
        margin:10% auto;
        cursor:default;

      }


}
@media only screen and (max-width: 400px){
  .nav {
    height:47px;
  }
  .nav li a {
      font-size: 2.6vw;



  }
  .nav li {

    padding-right: 4px;

  }
  svg {

    padding-right:2px;

  }
  .nav li svg {
    font-size: 2.7vw;
  }

  #logo {
    padding:1vw 1.7vw 1.5vw 0.5vw;
    margin-right:15px;
  }

  #logo a{
    font-size: 6vw;
  }
  .photoshoot{
    overflow: visible;
    height:100%;
  }
  .photoshoot img{
    width:85vw;
    height:auto;
    display:block;
    margin:20% auto 10%;
    cursor:default;

  }

}
