// base
* {
    box-sizing: border-box;
    text-decoration: none;


}

body, html{
  margin:0;
  height:100%;
  width:100%;
  font-size: 62.5%;
  padding:0;


}
div, h1, h2, h3, h4 {
    margin:0;
    padding:0;
    color:$grey;
}
a{
  display:block;

}
li{
  margin-left:0;
}
ul{
  margin:0;
}

.button{
  width:16rem;
  font-size: 1.3rem;
  background-color: lighten($grey,20%);
  color:white;
  text-align: center;
  display: block;
  padding:0.3rem;
  border-radius: 30px;
  margin-top:8%;
  float:right;

      &:hover{
        box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
        background-color: $grey;
        transition: all, 0.3s;
      }
  }
