$m-gap: 8%;
$xs-gap: 1%;
$s-gap: 4%;
$border: 1px solid dimgrey;
$grey:#333542;
$greenish:#d4dbd2;
$light-greenish:lighten(#d4dbd2,9%);
$thin:1px solid lightgrey;


@mixin prefix($declarations, $prefixes: ()) {
  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
  }
}
